@import url(https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap);

:root {
    --dgray: #262626; 
}

header{
    background-color: var(--dgray);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 173px;
}

body{
    margin: 0;
    background-color: var(--dgray);
}

.wtext{
    color: white;
    font-family: 'Press Start 2P'
}

.btext{
    color: black;
    font-family: 'Press Start 2P'
}

.sec0{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.sec2{
    display: flex;
}

.sec1{
    margin-bottom: 10px;
}

.score-txt{
    margin-left: 10px;
}

input{
    height: 50px;
    width: 110px;
    background-color: transparent;
    border: 3px solid white;
    color: white;
}

main{
    margin-top: 0px;
    padding-top: 50px;
    background-color: var(--dgray);
    display: grid;
    height: 500px;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    border-top: 5px solid white;
}

footer{
    background-color: var(--dgray);
    height: 100%;
}

footer p {
    color: white;
    font-family: 'Press Start 2P';
    text-align: center;
}

.my-box{
    position: absolute;
    margin-top: 150px;
    background-color: white;
    height: 50px;
    width: 150px;
    text-align: center;
}

.my{
    font-size: 2rem;
    font-weight: 700;
    height: 50px;
    margin: 0;
    padding: 10px;
}

.again-button{
    font-family: 'Press Start 2P';
    background-color: white;
    border: 2px solid white;
    height: 40px;
    width: 120px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.typin{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Press Start 2P';
}

.check-button{
    font-family: 'Press Start 2P';
    background-color: white;
    border: 2px solid white;
    margin-top: 10px;
    height: 40px;
    width: 120px;
}

.between{
    position: absolute;
    right: 10px;
    top: 10px;
}

.guess{
    margin-top: 100px;
    color: white;
    font-family: 'Press Start 2P';
}